<div class="footer">
  <div class="container">
    <div class="icons-social-media">
      <ul class="list-icons">
        <li><%= link_to root_path do %>
          <i class="fab fa-facebook"></i>
          <% end %>
        </li>
        <li><%= link_to root_path do %>
          <i class="fab fa-twitter"></i>
          <% end %>
        </li>
        <li><%= link_to root_path do %>
          <i class="fab fa-instagram"></i>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="footer-links">
      <%= link_to "Info", root_path, class: 'right-border-positive'%>
      <%= link_to "Sponsorships", root_path, class: 'right-border-positive' %>
      <%= link_to "Careers", root_path, class: 'right-border-positive' %>
      <%= link_to "Support", root_path, class: 'right-border-positive' %>
      <%= link_to "Marketing", root_path, class: 'right-border-positive' %>
      <%= link_to "Terms of Service", root_path, class: 'right-border-positive' %>
      <%= link_to "Privacy Policy", root_path %>
    </div>
    <hr>
    <p class="copyright-info">© 2020 BikeRental</p>
  </div>
</div>
