<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top align-items-center">
  <% if user_signed_in? %>
    <%= link_to "/dashboard", class: "navbar-brand" do %>
      <div class="d-flex">
          <i class="fas fa-biking"></i>
          <h1 class="logo">BikeRental</h1>
      </div>
    <% end %>
  <% else %>
    <%= link_to "/", class: "navbar-brand" do %>
      <div class="d-flex">
          <i class="fas fa-biking"></i>
          <h1 class="logo">BikeRental</h1>
      </div>
    <% end %>
  <% end %>

  <div class="form-search">
    <% if user_signed_in? %>
      <%= form_tag bikes_path, method: :get, class: "form-search-location" do %>
        <div class="search-box">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by location, name or category"
          %>
          <%= submit_tag "Search", class: "btn btn-search" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "Rent Your Bike", "/bikes/new", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Need A Bike?", "/bikes", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", "/users/sign_up", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link btn-login" %>
        </li>
    <% end %>
    </ul>
  </div>
</div>
