<div class="bike-card-index">
  <% @bikes.each do |bike| %>
    <div class="bike-card">
      <%= link_to bike_path(bike) do %>
      <div class="bike-card-img">
          <%= cl_image_tag bike.photos.first.key %>
      </div>
        <div class="bike-card-info">
          <div class="upper-info">
            <div class="title">
              <h1> <%= bike.name.capitalize %> </h1>
            </div>
            <p class="price"> $<%= bike.price %></p>
          </div>
          <div class="bottom-info">
            <p class="category">Category <%= bike.category %></p>
            <p class="location">
              <i class="fas fa-map-marker-alt"></i>
              <%= bike.location %>
            </p>
        </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
